       <footer>
        <p><img src="img/deviinelogo.png"> All Rights Reserved.</p>
      </footer>


<!-- Mobile Version -->

      
    <section class="mobile">
      <div class="topbar"><h3>Spokane, WA<a href="#" class="changelocation">(change)</a></h3><a href="#" class="signin">Sign In</a> | <a href="#" class="signup">Sign Up</a></div>
      <a href="index.html" class="header"><img id="logo" src="img/deviinelogo.png"></a>

      <div class="location">
        <h4>Determine your location.</h4>
        <input type="search" class="search" placeholder="Spokane, WA...">
        <button type="submit">Submit</button>
        <a href="#" class="geolocation">Use GPS</a>
      </div>


      <nav class="homesubnav">
        <a href="html/dispensaries.html" class="alpha active"><img src="img/dispensariesicon.png">Dispensaries</a>
        <a href="html/deals.html"><img src="img/dealsicon.png">Deals</a>
        <a href="html/findajob.html"><img src="img/jobsicon.png">Find A Job</a>
        <a href="html/strains.html"><img src="img/strainsicon.png">Strains</a>
        <a href="html/news.html"><img src="img/newsicon.png">News</a>
        <a href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank"><img src="img/contacticon.png">Contact Us</a>
      </nav>

      <div class="mobileindex">
        <blockquote><h4>Check in before you check out.</h4>Let's save green!<br></blockquote>
        <input type="search" class="search" placeholder="Search..."><button type="submit">Submit</button>
        <nav class="nav">
          <a href="html/dispensaries.html"><img src="img/dispensariesiconactive.png">Dispensaries</a>
          <a href="html/deals.html"><img src="img/dealsiconactive.png">Deals</a>
          <a href="html/findajob.html"><img src="img/jobsiconactive.png">Find A Job</a>
          <a href="html/strains.html"><img src="img/strainsiconactive.png">Strains</a>
          <a href="html/news.html"><img src="img/newsiconactive.png">News</a>
          <a href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank"><img src="img/contacticonactive.png">Contact Us</a>
        </nav> 
        <div class="footer">
          <h2>DeViine. All rights reserved.</h2>
          <h3>Recreational Marijuana.<a href="#">Full Site</a></h3>
        </div>
      </div>
    </section>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src="js/scripts.js"></script>
    


  </body>
</html>
