<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--********THIS TITLE AREA PHP NEEDS TO BE CHANGED FROM WP NATIVE CODE********-->
    <title>

    </title>

    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/foundation.css" media="screen" />
    <link rel="stylesheet" href="../css/animate.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../fonts/unitedstates/unitedstatesfont.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../fonts/dense/stylesheet.css" media="screen" />
    <link rel="stylesheet" href="../css/styles.css" media="screen" />


    
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <!--<body THIS BODY CLASS DUPLICATES BUT SHOULD REPLACE THE OTHER!!!<?php body_class(); ?>>-->
  <body class="home">
    
    <div class="top"></div>

      <header>
        <a href="index.html"><img id="logo" src="img/deviinelogo.png"></a>
        <nav class="nav">
          <a href="index.html" id="currentpage" class="homepage"><img src="img/homeiconactive.png">Home</a>
          <a href="html/dispensaries.html" class="dispensaries"><img src="img/dispensariesicon.png">Dispensaries</a>
          <a href="html/deals.html" class="deals"><img src="img/dealsicon.png">Deals</a>
          <a href="html/strains.html" class="strains"><img src="img/strainsicon.png">Strains</a>
          <a href="html/news.html" class="news"><img src="img/newsicon.png">News</a>
          <a href="https://devine.typeform.com/to/rfIgIY" target="_blank" class="contactus"><img src="img/contacticon.png">Contact Us</a>

        </nav>        
      </header>