

    <div id="alertmodal" class="reveal-modal" data-reveal>
      <h1>This page contains content that is intended for adults only.</h1>
      <br><h4>You must be 21 years or older to continue.</h4>
      <div class="agebuttons">
        <br><button class="close-reveal-modal over21">Over 21</button>
        <button href="http://google.com" class="close-reveal-modal notover21">Not Over 21</button>
      </div>
      <br><h6>DISCLAIMER: Please be aware that possessing, using, distributing & selling marijuana are all federal crimes and the articles, pages, links, or any other information on this site are NOT intended to assist you in violating federal law nor will they in any way assist you in complying with federal law. The information on this site is intended as a public resource to stay informed as the legalization process of marijuana continues.<h6>
    </div>



      <section id="pagetitle">
        <h1>Home</h1>
      </section>






          <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="profilepic" data-dropdown="accounthover" data-options="is_hover:true"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p148x148/10341854_10152397299124655_2049244265428842388_n.jpg?oh=00cad4455c33d40ec2390a38ad4e0667&oe=541E4889&__gda__=1412488433_7aae6bb7c6f19d34536bb3c1cc40086a"></div>
        <div id="accounthover"  data-dropdown-content  class="large f-dropdown content">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p148x148/10341854_10152397299124655_2049244265428842388_n.jpg?oh=00cad4455c33d40ec2390a38ad4e0667&oe=541E4889&__gda__=1412488433_7aae6bb7c6f19d34536bb3c1cc40086a">
          <h4>Dakota Michael Berg</h4>
          <h6>dakota@deviine.com</h6>
          <ul>
            <li href="#">View Profile</li>
            <li href="#">Edit Profile</li>
            <h5>Favorite Dispensary:<br> <a href="html/walkingraven.html">Walking Raven MMC</a></h5>
            <li href="#" class="signout">Sign Out</li>
          </ul>
        </div>
      </section>




      <section id="slider">
        <h2 class="sliderbar">What's new?</h2>
         <ul class="slider" data-orbit>
            <li class="active">
              <img src="img/slide3.jpg" alt="Welcome To DeViine! Your Recreational Marijuana Home. Let's Save Green." />
            </li>
            <li>
              <a href="html/dispensaries.html"><img src="img/slide4.jpg" alt="Find Recreational Dispensaries In Your Area. See The Dispensaries Section." /></a>
            </li>
            <li>
              <a href="html/deals.html"><img src="img/slide5.jpg" alt="Find Recreational Marijuana Deals In Your Area. See The Deals Section." /></a>
            </li>
            <li>
              <img src="img/slide1.jpg" alt="New Content Added Daily. Share With Everyone You Know!" />
            </li>
        </ul>
      </section>




      <section id="bestprices">
        <h2 class="bestpricesbar">Best Prices</h2>
        <div class="bestpricesbody">
            
        </div>
      </section>




   



      <section id="wiyb">
            <h2 class="wiybbar">What's In Your Bowl?</h2>
            <div class="wiyb">
                <div id="disqus_thread"></div>
                  <script type="text/javascript">
                    
                      var disqus_shortname = 'devineco';

                      (function() {
                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

            </div>
      </section>







      <section class="featureddispensaries">
        <h2 class="headerbar">Featured Dispensaries</h2>
        <div class="featureddispensariesbody">

            <a href="html/walkingraven.html"><div class="audcard inwashington">
                  <div class="infocontainer">               
                    <div class="audinfo">
                      <img src="img/walkingravenlogo.jpg" class="audlogo">
                      <h2>Walking Raven</h2>            
                      <h3>2001 South Broadway <br>Spokane, WA, 80210</h3>
                      <ul class="overallrating">
                        
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconno.png"></li>
                        <h4>Rated 4/5 by 453 reviews</h4>
                      </ul>     
                  </div>
                  <div class="distance">14 miles away</div>
              </div>
            </div></a>

            <a href="html/walkingraven.html"><div class="audcard inwashington">
                  <div class="infocontainer">               
                    <div class="audinfo">
                      <img src="https://d2kxqxnk1i5o9a.cloudfront.net/uploads/avatars/dispensaries/7645/square_527450_398660813526251_1458885026_n.jpg" class="audlogo">
                      <h2>Doc's Shop</h2>            
                      <h3>2001 South Broadway <br>Spokane, WA, 80210</h3>
                      <ul class="overallrating">
                        
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconyes.png"></li>
                        <li><img src="img/budiconno.png"></li>
                        <h4>Rated 4/5 by 453 reviews</h4>
                      </ul>
                  </div>
                  <div class="distance">17 miles away</div>
              </div>
            </div></a>

        </div>
      </section>
        








     <section id="dailydeals">
          <a href="html/deals.html"><h2 class="dailydealsbar">Daily Deals</h2></a>
          <div class="dailydeals">

               <a href="html/dealinformation.html" class="dealcardwrapper inwashington">
                <img src="http://bigpics.nuggetry.netdna-cdn.com/wp-content/uploads/2012/10/Oct-25-OG-Kush-Wax002.jpg">
                <div class="dealinfo">
                  <h1>$30 bogo half off!!</h1>
                  <h2>Wellspring Collective</h2>
                  <h3>Denver, Colorado</h3>
                  <h4>49 Minutes Left</h4>
                  <h5>See more information</h5>
                </div>
              </a>
                
              <a href="html/dealinformation.html" class="dealcardwrapper inwashington">
                <img src="http://fadedfools.com/medical_marijuana/master_og_oct.jpg">
                <div class="dealinfo">
                  <h1>Offering $180 ounces of select strains</h1>
                  <h2>The Longest Adult Use Marijuana Dispensary Name Ever!!</h2>
                  <h3>Boulder, Colorado</h3>
                  <h4>20 Hours Left</h4>
                  <h5>See more information</h5>
                </div>
              </a>

          </div>
        </section>






      <section id="sotw">
        <a href="#"><h2 class="sotwbar">Strains of the Week</h2></a>
        
          <ul class="sotw">

            <li class="sotwcard inwashington">
              <img src="img/pineapple.jpg" class="sotwimg" >
              <div class="sotwinfo">
                <h1>Washington Washout</h1>
                <h2>Produced By:</h2>
                <h3>Green Haus</h3>
                <h4>502 Division St.<br> Spokane WA, 99403</h4>
              </div>
            </li>

            <li class="sotwcard inwashington">
              <img src="img/mars.jpg" class="sotwimg" >
              <div class="sotwinfo">
                <h1>Green Monster</h1>
                <h2>Produced By:</h2>
                <h3>HydroBud</h3>
                <h4>1104 Broadway St.<br> Seattle WA, 98004</h4>
              </div>
            </li>

          </ul>
        
      </section>




    


    





      <section id="voting">
        <h2 class="votingbar">Voting</h2>
        <div class="voting">
          <script src="http://assets-polarb-com.a.ssl.fastly.net/assets/polar-embedded.js" async data-publisher="DeVine" data-poll-set="3477"></script>
        </div>
      </section>







      <section id="sponsor">
        <a href="html/advertise.html"><h2 class="sponsorbar">Sponsors</h2></a>
        <ul class="sponsorbackground">
          <li><a href="#"><img src="img/crackle.png"></a></li>
          <li><a href="#"><img src="img/sponsor2.jpg"></a></li>
          <li><a href="#"><img src="img/sponsor3.jpg"></a></li>
          <li><a href="#"><img src="img/sponsor4.jpg"></a></li>
          <li><a href="#"><img src="img/crackle.png"></a></li>
          <li><a href="#"><img src="img/sponsor2.jpg"></a></li>
          <li><a href="#"><img src="img/sponsor3.jpg"></a></li>
        </ul>
      </section>



      <a href="#top" class="uptotop"><img src="img/rocketicon.png"></a>
        
        

          
       





          





      <footer>
        <p><img src="img/deviinelogo.png"> All Rights Reserved. 2014.</p>
      </footer>


<!-- Mobile Version -->

      
    <section class="mobile">
      <div class="topbar"><h3>Spokane, WA<a href="#" class="changelocation">(change)</a></h3><a href="#" class="signin">Sign In</a> | <a href="#" class="signup">Sign Up</a></div>
      <a href="index.html" class="header"><img id="logo" src="img/deviinelogo.png"></a>

      <div class="location">
        <h4>Determine your location.</h4>
        <input type="search" class="search" placeholder="Spokane, WA...">
        <button type="submit">Submit</button>
        <a href="#" class="geolocation">Use GPS</a>
      </div>


      <nav class="homesubnav">
        <a href="html/dispensaries.html" class="alpha active"><img src="img/dispensariesicon.png">Dispensaries</a>
        <a href="html/deals.html"><img src="img/dealsicon.png">Deals</a>
        <a href="html/findajob.html"><img src="img/jobsicon.png">Find A Job</a>
        <a href="html/strains.html"><img src="img/strainsicon.png">Strains</a>
        <a href="html/news.html"><img src="img/newsicon.png">News</a>
        <a href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank"><img src="img/contacticon.png">Contact Us</a>
      </nav>

      <div class="mobileindex">
        <blockquote><h4>Check in before you check out.</h4>Let's save green!<br></blockquote>
        <input type="search" class="search" placeholder="Search..."><button type="submit">Submit</button>
        <nav class="nav">
          <a href="html/dispensaries.html"><img src="img/dispensariesiconactive.png">Dispensaries</a>
          <a href="html/deals.html"><img src="img/dealsiconactive.png">Deals</a>
          <a href="html/findajob.html"><img src="img/jobsiconactive.png">Find A Job</a>
          <a href="html/strains.html"><img src="img/strainsiconactive.png">Strains</a>
          <a href="html/news.html"><img src="img/newsiconactive.png">News</a>
          <a href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank"><img src="img/contacticonactive.png">Contact Us</a>
        </nav>
         







