/* Variables Start */
/* Shark */
/* Transparent Shark */
/* Faint Gray */
/* Dusty Gray */
/* Screamin' Green */
/* Mint Green */
/* Candlelight */
/* Torch Red */
/* Variables End */
/* Body Start */
/* Body End */
/* Navigation Start */
/* Navigation End */
/* Page Title Start */
/* Page Title End */
/* Account Start */
#account {
  position: absolute;
  top: -5px;
  right: 50px;
  display: inline; }
  #account h3 {
    font-size: 14px;
    line-height: 14px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    margin: 6px 0 0 10px;
    color: #2c3034;
    float: left;
    padding: 0 10px;
    text-align: right;
    border: 1px solid #d2d2d2;
    border-top: 0;
    border-bottom: 0; }
    #account h3 a {
      color: #f7253e;
      font-size: 12px;
      font-weight: bold; }
  #account .profilepic {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: #2c3034;
    float: right;
    clear: right;
    cursor: pointer; }
    #account .profilepic img {
      border-radius: 20px; }
  #account .search {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    background: white;
    border: 1px solid #969696;
    border-radius: 4px;
    float: left;
    padding-left: 5px; }
  #account .searchicon {
    float: left; }
    #account .searchicon img {
      margin: 7.5px 0 0 10px;
      width: 25px; }
  #account #accounthover {
    background: white;
    border: none;
    width: 280px;
    padding: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }
    #account #accounthover img {
      width: 50%; }
    #account #accounthover h4 {
      font-size: 20px;
      line-height: 18px;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #f7253e;
      padding: 5px 0 0 0;
      margin-bottom: 5px; }
    #account #accounthover h6 {
      font-size: 12px;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #969696;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #d2d2d2; }
    #account #accounthover ul {
      list-style: none;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #969696;
      padding: 0 0px;
      margin: 0; }
      #account #accounthover ul li {
        margin: 5px 0; }
        #account #accounthover ul li:hover {
          color: #2c3034;
          background: none; }
      #account #accounthover ul h5 {
        font-size: 12px;
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        color: #969696;
        padding: 10px 0px;
        margin: 0;
        border-top: 1px solid #d2d2d2; }
        #account #accounthover ul h5 a {
          color: #2c3034;
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
          font-size: 16px; }
          #account #accounthover ul h5 a:hover {
            color: #f7253e; }
      #account #accounthover ul .signout {
        background: #d2d2d2;
        color: white;
        width: 100%;
        padding: 10px 0;
        border-radius: 2px;
        text-align: center; }
        #account #accounthover ul .signout:hover {
          color: white;
          background: #2c3034; }
  @media screen and (max-width: 600px) {
    #account {
      display: none; } }

.geolocation {
  position: relative;
  margin: 0 auto; }
  .geolocation #location {
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #f7253e;
    font-size: 14px;
    font-weight: bold;
    position: relative; }
    .geolocation #location h2 {
      color: #f7253e;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      padding: 0;
      margin: 0 auto;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      position: relative; }
  .geolocation .getlocation {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 10px;
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #2c3034; }

/* Account End */
/* Section Start */
/* Section End */
/* Header Bar Start */
/* Header Bar End */
/*---------------------------City, State & Zip Start------------------------------*/
/* Choose A City Start */
.city {
  background: none;
  margin: 40px 1% 1% 1%;
  position: relative;
  float: left;
  width: 30%;
  margin: 0 1.5%;
  clear: left; }
  @media screen and (max-width: 600px) {
    .city {
      margin: 70px 1% 1% 1%; } }
  .city .citybar {
    background: #2c3034;
    font-family: "dense", "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding: 3px 25px;
    color: #fcd31c;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    @media screen and (max-width: 830px) {
      .city .citybar {
        font-size: 17px; } }
  .city .citybody {
    border: 2px solid #2c3034;
    border-top: none;
    height: 180px;
    padding: 1% 1% 0 1%; }
    .city .citybody .cities {
      margin: 0; }
      .city .citybody .cities li {
        list-style: none;
        display: inline;
        width: 100%; }
        .city .citybody .cities li a img {
          width: 36%;
          margin: 8% 0 0 9%; }
          .city .citybody .cities li a img:hover {
            opacity: .8; }
          @media screen and (max-width: 629px) {
            .city .citybody .cities li a img {
              width: 20%;
              margin: 3% 0 2% 3%; } }
    @media screen and (max-width: 993px) {
      .city .citybody {
        height: 170px; } }
    @media screen and (max-width: 629px) {
      .city .citybody {
        height: 120px; } }
    @media screen and (max-width: 500px) {
      .city .citybody {
        height: 90px; } }
  @media screen and (max-width: 629px) {
    .city {
      width: 94%; } }
  @media screen and (max-width: 500px) {
    .city .citybar {
      font-size: 17px; } }
  @media screen and (max-width: 600px) {
    .city {
      display: none; } }

/* Choose A City End */
/* Select Your City Start */
.selectcity {
  background: none;
  margin: 40px 1% 1% 1%;
  position: relative;
  float: left;
  width: 30%;
  margin: 0 1.5%; }
  @media screen and (max-width: 600px) {
    .selectcity {
      margin: 70px 1% 1% 1%; } }
  .selectcity .selectcitybar {
    background: #2c3034;
    font-family: "dense", "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding: 3px 25px;
    color: #f7253e;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    @media screen and (max-width: 830px) {
      .selectcity .selectcitybar {
        font-size: 17px; } }
  .selectcity .selectcitybody {
    float: left;
    height: 180px;
    width: 100%;
    padding: 7% 5%;
    border: 2px solid #2c3034;
    border-top: 0; }
    .selectcity .selectcitybody input {
      width: 100%;
      border: 1px solid #c8c8c8;
      height: 37px;
      padding-left: 4%;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      margin: 0;
      border-radius: 2px; }
    .selectcity .selectcitybody h3 {
      padding: 0;
      margin: 1% 0;
      text-align: center;
      font-size: 14px;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #c8c8c8; }
    .selectcity .selectcitybody .citydropdown {
      background: white;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      color: #969696;
      padding-left: 4%;
      font-size: 12px;
      font-weight: normal;
      border-radius: 2px; }
    .selectcity .selectcitybody button {
      background: #f7253e;
      color: white;
      padding: 5%;
      border-radius: 2px;
      width: 100%;
      transition: none; }
      .selectcity .selectcitybody button:hover {
        transition: none;
        background: #2c3034; }
      .selectcity .selectcitybody button:active {
        color: #f7253e; }
  @media screen and (max-width: 993px) {
    .selectcity .selectcitybody {
      padding: 20% 1%;
      height: 170px; } }
  @media screen and (max-width: 629px) {
    .selectcity {
      width: 46%;
      margin: 1%;
      background: none;
      margin: 1%;
      position: relative;
      float: left; } }
  @media screen and (max-width: 500px) {
    .selectcity .selectcitybar {
      font-size: 17px; } }
  @media screen and (max-width: 600px) {
    .selectcity {
      display: none; } }

/* Select Your City End */
/* Choose A State Start */
.state {
  background: none;
  margin: 40px 1% 1% 1%;
  position: relative;
  float: left;
  width: 30%;
  margin: 0 1.5%; }
  @media screen and (max-width: 600px) {
    .state {
      margin: 70px 1% 1% 1%; } }
  .state .statebar {
    background: #2c3034;
    font-family: "dense", "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding: 3px 25px;
    color: #4ef253;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    @media screen and (max-width: 830px) {
      .state .statebar {
        font-size: 17px; } }
  .state .usamap {
    height: 180px;
    width: 100%;
    padding: 5%;
    border: 2px solid #2c3034;
    border-top: none; }
    .state .usamap #Washington path,
    .state .usamap #Colorado path {
      fill: #4ef253; }
    .state .usamap #Washington path:hover,
    .state .usamap #Colorado path:hover {
      fill: #95F995; }
    @media screen and (max-width: 993px) {
      .state .usamap {
        height: 170px; } }
  @media screen and (max-width: 629px) {
    .state {
      width: 46%;
      background: none;
      margin: 1%;
      position: relative;
      float: left; } }
  @media screen and (max-width: 500px) {
    .state .statebar {
      font-size: 17px; } }
  @media screen and (max-width: 600px) {
    .state {
      display: none; } }

/* Choose A State End */
/*---------------------------City, State & Zip End------------------------------*/
/*---------------------------Sort Start------------------------------*/
.sort {
  background: none;
  margin: 40px 1% 1% 1%;
  position: relative;
  float: left;
  width: 46%; }
  @media screen and (max-width: 600px) {
    .sort {
      margin: 70px 1% 1% 1%; } }
  .sort .sortbar {
    background: #2c3034;
    font-family: "dense", "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding: 3px 25px;
    color: #f7253e;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    @media screen and (max-width: 830px) {
      .sort .sortbar {
        font-size: 17px; } }
  .sort .sortbody {
    padding: 3%;
    margin: 0;
    border: 2px solid #2c3034;
    border-top: none;
    padding: 0;
    height: 70px; }
    .sort .sortbody .sortwrapper {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 0 auto; }
      .sort .sortbody .sortwrapper .sortitem {
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 12px;
        background: #969696;
        color: white;
        padding: 2% 3.5%;
        position: relative;
        top: 26px;
        height: 80px;
        border-radius: 5px;
        margin: 0 auto; }
        .sort .sortbody .sortwrapper .sortitem:hover {
          background: #2c3034; }
      .sort .sortbody .sortwrapper .active {
        background: #2c3034; }
  @media screen and (max-width: 600px) {
    .sort {
      display: none; } }

/*---------------------------Sort End------------------------------*/
/*---------------------------Options Start------------------------------*/
.options {
  background: none;
  margin: 40px 1% 1% 1%;
  position: relative;
  float: left;
  width: 46%; }
  @media screen and (max-width: 600px) {
    .options {
      margin: 70px 1% 1% 1%; } }
  .options .optionsbar {
    background: #2c3034;
    font-family: "dense", "Roboto Condensed", "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0;
    padding: 3px 25px;
    color: #fcd31c;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    @media screen and (max-width: 830px) {
      .options .optionsbar {
        font-size: 17px; } }
  .options .optionsbody {
    padding: 3%;
    margin: 0;
    border: 2px solid #2c3034;
    border-top: none;
    padding: 0;
    height: 70px; }
    .options .optionsbody .viewwrapper {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 0 auto; }
      .options .optionsbody .viewwrapper .view {
        padding: 1.5% 5% 2% 5%;
        position: relative;
        top: 26px;
        height: 80px;
        border-radius: 5px;
        background: #969696;
        margin: 0 auto; }
        .options .optionsbody .viewwrapper .view:hover {
          background: #2c3034; }
        .options .optionsbody .viewwrapper .view img {
          width: 6%; }
      .options .optionsbody .viewwrapper .divider {
        border-right: 1px solid #d2d2d2;
        margin: 0 6% 0 5%;
        padding: 2% 0;
        position: relative;
        top: 26px;
        width: 4px;
        height: 80px; }
      .options .optionsbody .viewwrapper .active {
        background: #2c3034; }
  @media screen and (max-width: 600px) {
    .options {
      display: none; } }

/*---------------------------Options End------------------------------*/
/* Footer Start */
/* Footer End */
/* Up To Top Start */
/* Up To Top Start */
